<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="ctx" th:content="@{/}">
    <link rel="stylesheet" th:href="@{/public/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/public/web/css/public.css}" media="all"/>
    <style>
        .noticeTitle {
            text-align: center;
            background-color: #4191DF !important;
            color: #ffffff;
        }

        .noticeTitle1 {
            font-size: 24px;
            padding-top: 100px;
            font-family: -apple-system;

        }

        .noticeCon {
            padding-top: 40px;

        }
    </style>
</head>
<body class="childrenBody">
<input type="hidden" id="userName" th:value="${session.user_name_in_session}">
<input type="hidden" id="platformName" value="人事管理平台">
<blockquote class="layui-elem-quote layui-bg-black">
    <div id="nowTime"></div>
</blockquote>
<div class="layui-row layui-col-space10 panel_box">

</div>
<div class="layui-carousel" id="notices">

</div>

<div class="layui-row layui-col-space10">
    <div class="layui-col-lg6 layui-col-md12">

    </div>
    <div class="layui-col-lg6 layui-col-md12">

    </div>
</div>

<script type="text/javascript" th:src="@{/public/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/public/web/js/main.js}"></script>

<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        var $ = layui.$;


        $.ajax({
            type: "get",
            url: "/notice/getNotices",
            success: function (res) {
                if (res.code == 0) {
                    var data = res.data;
                    var html = '<div carousel-item>';
                    if (data.length > 0) {
                        data.forEach(function (item) {
                            html += ' <div class="noticeTitle"><p class="noticeTitle1">' + item.content + '</p><p class="noticeCon">' + item.detail + '</p></div>'
                        })
                    }
                    html += '</div>'
                    $("#notices").html(html);
                    //建造实例
                    carousel.render({
                        elem: '#notices'
                        , width: '100%' //设置容器宽度
                        , arrow: 'always' //始终显示箭头
                        //,anim: 'updown' //切换动画方式
                    });
                } else {
                    layer.msg(res.msg, {icon: 5});
                }
            }
        });
    });

</script>
</body>
</html>